* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #f1f3f8;
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  .container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    margin: 20px auto;
    padding: 20px;
    width: 50%;
  }
  
  h1 {
    margin-top: 0;
  }
  
  section {
    display: flex;
    flex-wrap: wrap;
  }
  
  
  section input {
    border: none;
    flex-basis: calc(100% - 120px);
    border-radius: 5px;
    margin-right: 10px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    outline: none;
  }
  
  #button {
    background-color: rgb(62, 200, 246);
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    flex-basis: 100px;
    padding: 10px;
  }
  
  section button:hover {
    background-color: rgb(26, 185, 238);
  }
  
  #output {
    margin-top: 20px;
  }
  .div{
    display: flex;
    justify-content: center;
  }